<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoL_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LoL_Generator.Properties.Settings>
            <setting name="Left" serializeAs="String">
                <value />
            </setting>
            <setting name="Top" serializeAs="String">
                <value />
            </setting>
            <setting name="Key" serializeAs="Xml">
                <value>
                    <Key>None</Key>
                </value>
            </setting>
            <setting name="EnableCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReanableCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableRuneCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableItemCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableInterfaceCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </LoL_Generator.Properties.Settings>
    </userSettings>
</configuration>